@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-size: 100%;
  background-color: white;
}
.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.67vh 10.05vh;
  background-image: url('/Carrinho/images/backgroud_header.jpg');
  font-family: 'Noto Sans', 'Sans Serif';
  font-size: 2.74vh;
  font-weight: 500;
}
.cabecalho-img {
  height: 18.40vh;
}
.cabecalho-logo {
  height: 150px;
  width: 150px;
}
.cabecalho-menu {
  width: 100%;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.cabecalho-menu ul {
  list-style: none;
  display: flex;
}
.cabecalho-menu ul li {
  padding: 10px 30px;
  position: relative;
}
.cabecalho-menu ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.2s;
}
.cabecalho-menu ul li a:hover {
  color: red;
}
.dropdown_menu {
  display: none;
}
.cabecalho-menu ul li:hover .dropdown_menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #737b8b;
  border-radius: 7px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul {
  display: block;
  margin: 5px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul li {
  width: 125px;
  padding: 8px;
  text-align: left;
  margin-left: 15px;
}
main {
  margin-top: 100px;
  margin-bottom: 100px;
  align-items: center;
  padding-left: 50px;
}
.desenvolvimento-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20.71vh;
  margin-bottom: 20.71vh;
  font-family: 'Noto Sans', 'Sans Serif';
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
}
.desenvolvimento-principal-estrutura {
  display: flex;
  flex-direction: column;
  gap: 4.28vh;
  width: 800px;
}
.cart {
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px lightgray;
  font-family: 'Noto Sans', 'Sans Serif';
}
.cart title {
  display: flex;
}
.cart-description {
  display: inline-block;
  width: 700px;
  height: 200px;
}
.cart-title h1{
  padding-bottom: 40px;
}
.rating input {
  display: none;
}
.rating label {
  float: right;
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}
.rating label:before {
  content: "\2605";
}
.rating input:checked ~ label {
  color: #FFC107;
}
.cart-header {
  text-align: center;
  margin-bottom: 20px;
}
.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cart-item img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cart-item-name {
  margin: 0;
  font-weight: bold;
}
.cart-item-price {
  margin: 0;
  font-weight: bold;
  color: green;
}
.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.cart-item-quantity-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color: gray;
}
.cart-item-quantity-button:hover {
  background-color: lightcoral;
}
.cart-item-quantity input{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 14px;
  color: black;
  background-color: white;
}
.cart-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.cart-total-value {
  color: green;
}
.cart-total-label {
  font-weight: bold;
  margin-right: 10px;
}
.cart-checkout-button {
  background-color: gray;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}
.cart-checkout-button a{
  color: white;
}
.cart-checkout-button:hover {
  background-color: lightcoral;
}
.more-rating {
  padding-left: 120px;
  padding-right: 120px;
  font-family: 'Noto Sans', 'Sans Serif';
}
.more-rating h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}
.more-rating-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.more-rating-div img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}
.more-rating-text {
  margin-bottom: 50px;
}
.more-rating-div h2{
  font-size: 27px;
  font-weight: bold;
  margin-right: 20px;
}
.more-rating-star input {
  display: none;
}
.more-rating-star label {
  float: right;
  font-size: 30px;
  color: #FFC107;
  cursor: pointer;
}
.more-rating-star label:before {
  content: "\2605";
}
.more-rating-text p{
  font-size: 17px;
}
.rating-form-div {
  margin-top: 50px;
}
.rating-form {
  max-width: 1200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.rating-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.form-group textarea {
  resize: vertical;
}
button[type="submit"] {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: #006D87;
}
.rodape {
    background-color: #5a6170;
    padding: 9.38vh 0;
}
.container {
    margin-left: 6.70vh;
    margin-right: 6.70vh;
    justify-content: space-around;
}
.rodape-linha {
    display: flex;
    flex-wrap: wrap;
}
.rodape-opcoes {
    width: 25%;
    padding: 0 2.01vh;
}
.rodape-opcoes h4 {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 600;
    font-size: 2.41vh;
    color: white;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 2.14vh;
    padding-bottom: 2.14vh;
    border-bottom: 0.093vh solid rgb(255, 0, 0);
}
.rodape-opcoes ul li a {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 400;
    font-size: 2.14vh;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.rodape-opcoes ul li a:hover {
    color: rgb(255, 0, 0);
}
.rodape-lista {
    list-style: none;
}