@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
@import url('http://fonts.googleapis.com/css?family=Bitter');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-color: white;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.67vh 10.05vh;
    background-image: url('/Inicio/imagens/backgroud_header.jpg');
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.74vh;
    font-weight: 500;
}
.cabecalho-img {
    height: 18.40vh;
}
.cabecalho-logo {
    height: 150px;
    width: 150px;
}
.cabecalho-menu {
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.cabecalho-menu ul {
    list-style: none;
    display: flex;
}
.cabecalho-menu ul li {
    padding: 10px 30px;
    position: relative;
}
.cabecalho-menu ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}
.cabecalho-menu ul li a:hover {
    color: red;
}
.dropdown_menu {
    display: none;
}
.cabecalho-menu ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #737b8b;
    border-radius: 7px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul {
    display: block;
    margin: 5px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul li {
    width: 125px;
    padding: 8px;
    text-align: left;
    margin-left: 15px;
}
form {
	width: 700px;
	padding: 30px;
	margin: 40px auto;
	background: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
form .inner-wrap {
	padding: 30px;
	background: #F8F8F8;
	border-radius: 6px;
	margin-bottom: 15px;
}
form h1 {
	background: #e20909;
	padding: 20px 30px 15px 30px;
	margin: -30px -30px 30px -30px;
	border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: bold 30px 'Noto Sans', 'Sans Serif';
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #e20909;
}
form h1 > span {
	display: block;
	margin-top: 2px;
	font: 13px 'Noto Sans', 'Sans Serif';
}
form label {
	display: block;
	font: 13px 'Noto Sans', 'Sans Serif';
	color: #000000;
	margin-bottom: 15px;
}
form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form input[type="tel"],
form textarea,
form select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    margin-bottom: 5px;
}
form .section {
	font: bold 20px 'Noto Sans', 'Sans Serif';
	color: #e20909;
	margin-bottom: 15px;
}
form .section span {
	background: #e20909;
	padding: 5px 10px 5px 10px;
	position: absolute;
	border-radius: 50%;
	border: 4px solid #fff;
	font-size: 14px;
	margin-left: -45px;
	color: #fff;
	margin-top: -3px;
}
form input[type="button"], 
form input[type="submit"] {
	background: #e20909;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: bold 30px 'Noto Sans', 'Sans Serif';
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
form .termos {
	float: right;
	width: 250px;
	font: 12px 'Noto Sans', 'Sans Serif';
	color: #4D4D4D;
	margin-top: 10px;
	text-align: right;
}
.rodape {
    background-color: #5a6170;
    padding: 9.38vh 0;
}
.container {
    margin-left: 6.70vh;
    margin-right: 6.70vh;
    justify-content: space-around;
}
.rodape-linha {
    display: flex;
    flex-wrap: wrap;
}
.rodape-opcoes {
    width: 25%;
    padding: 0 2.01vh;
}
.rodape-opcoes h4 {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 600;
    font-size: 2.41vh;
    color: white;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 2.14vh;
    padding-bottom: 2.14vh;
    border-bottom: 0.093vh solid rgb(255, 0, 0);
}
.rodape-opcoes ul li a {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 400;
    font-size: 2.14vh;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.rodape-opcoes ul li a:hover {
    color: rgb(255, 0, 0);
}
.rodape-lista {
    list-style: none;
}