* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color:#ff2525;
    --text-color:#fff;
    --background-color:#1e1c2a;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background: var(--background-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--background-color);
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.logout a{
    color:red;
}
section{
    padding: 70px 7%;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.home-text span{
    font-size: var(--p-font);
}
.home-button{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}
.home-button:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.promocao{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    background-image: url("/Inicio/imagens/background-test.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}
.promocao-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.promocao-text span{
    color: var(--main-color);
    font-weight: 600;
    font-size: larger;
}
.promocao-text h2{
    font-size: var(--h2-font);
}
.promocao-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
.promocao-text h3{
    color: var(--main-color);
}
.promocao-button{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    margin-top: 20px;
}
.promocao-button:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.produto-header{
    text-align: center;
}
.produto-header span{
    color: var(--main-color);
    font-weight: 600;
}
.produto-header h2{
    font-size: var(--h2-font);
}
.produto-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}
.produto-container-box {
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fcf4f0;
    padding: 20px;
    border-radius: 0.5rem;
}
.produto-container-box-img{
    width: 220px;
    height: 220px;
}
.produto-container-box-img img{
    width: 100%;
    height: 100%;
}
.produto-container-box-img img:hover{
    opacity: 80%;
}
.produto-container-box h2{
    font-size: 1.3rem;
    color: var(--background-color);
}
.produto-container-box h3{
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.produto-container-box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}
.produto-container-box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem;
    color: var(--text-color);
}
.parceiro-header{
    text-align: center;
}
.parceiro-header span{
    color: var(--main-color);
    font-weight: 600;
}
.parceiro-header h2{
    font-size: var(--h2-font);
}
.parceiro-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.parceiro-container-box{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fcf4f0;
    padding: 20px;
    border-radius: 0.5rem;
}
.parceiro-container-box-img{
    width: 220px;
    height: 220px;
}
.parceiro-container-box-img img{
    width: 100%;
    height: 100%;
}
.parceiro-container-box-img img:hover{
    opacity: 80%;
}
.parceiro-container-box h3{
    margin: 4px 0 10px;
    color: var(--background-color);
    font-size: 1.2rem;
}
.endereco-header{
    text-align: center;
}
.endereco-header span{
    color: var(--main-color);
    font-weight: 600;
}
.endereco-header h2{
    font-size: var(--h2-font);
}
.endereco-contact-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
    margin: 70px 0 30px 0;
}
.endereco-gps{
    width: 100%;   
    height: 600px;
    border: 0;
    text-align: center;
    border-radius: 15px;
}
.contact-form-container{
    width: 100%;
    text-align: justify;
}
.contact-form-container h2{
    color: var(--main-color);
    font-size: var(--h2-font);
}
.form-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.form-group label {
    font-size: var(--p-font);
    font-weight: 800;
    margin-bottom: 10px;
    display: block;
}
input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #fcf4f0;
    box-sizing: border-box;
}
.submit-button {
    width: 200px;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fcf4f0;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.submit-button:hover {
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.footer {
    background-color: #40444e;
    padding: 9.38vh 0;
}
.footer-container {
    margin-left: 6.70vh;
    margin-right: 6.70vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.footer-box {
    width: 25%;
    padding: 0 2.01vh;
}
.footer-box h4 {
    font-weight: 600;
    font-size: 2.41vh;
    color: white;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 2.14vh;
    padding-bottom: 2.14vh;
    border-bottom: 0.093vh solid var(--main-color);
}
.footer-box ul li a {
    font-weight: 400;
    font-size: 2.14vh;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.footer-box ul li a:hover {
    color: var(--main-color);
    transition: 0.5s;
}