@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-color: white;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.67vh 10.05vh;
    background-image: url('/imagens/backgroud_header.jpg');
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.74vh;
    font-weight: 500;
}
.cabecalho-img {
    height: 18.40vh;
}
.cabecalho-logo {
    height: 150px;
    width: 150px;
}
.cabecalho-menu {
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.cabecalho-menu ul {
    list-style: none;
    display: flex;
}
.cabecalho-menu ul li {
    padding: 10px 30px;
    position: relative;
}
.cabecalho-menu ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}
.cabecalho-menu ul li a:hover {
    color: red;
}
.dropdown_menu {
    display: none;
}
.cabecalho-menu ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #737b8b;
    border-radius: 7px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul {
    display: block;
    margin: 5px;
}
.cabecalho-menu ul li:hover .dropdown_menu ul li {
    width: 125px;
    padding: 8px;
    text-align: left;
    margin-left: 15px;
}
.desenvolvimento-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20.71vh;
    margin-bottom: 20.71vh;
}
.desenvolvimento-principal-estrutura {
    display: flex;
    flex-direction: column;
    gap: 4.28vh;
}
.desenvolvimento-imagem {
    height: 46.91vh;
}
.desenvolvimento-principal-estrutura-titulo {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 5.36vh;
    font-weight: 400;
    color: black;
}
.desenvolvimento-principal-estrutura-titulo span{
    color: red;
    font-weight: bold;
}
.desenvolvimento-principal-estrutura-subtitulo {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.14vh;
    font-weight: 500;
    color: black;
}
.search-form {
    display: flex;
    margin-top: 20px;
    align-items: left;
}
.search-input {
    width: 50%;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
}
.search-button {
    width: 70px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.produtos_img{
    background-image: url("/imagens/Produtos/backgroud_produtos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.produto-cabecalho {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 5.69vh;
    font-weight: bold;
    color: white;
    padding: 6.70vh 12.73vh;
}
.produtos {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 100px;
}
.produto {
    border: 0.13vh;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
}
.produto:hover {
    opacity: 0.9;
}
#produto-imagem {
    max-width: 33.51vh;
    max-height: 33.51vh;
    width: auto;
    height: auto;
    border-radius: 15px;
}
#produto-titulo {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.01vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5.34vh 5.34vh;
    border-radius: 1.34vh 1.34vh 1.34vh black;
}
#produto-titulo:hover {
    color: red;
}
.promocoes-img {
    background-image: url("/imagens/Promocoes/backgroud_promocoes.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.promocoes-cabecalho {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 5.69vh;
    font-weight: bold;
    color: white;
    padding: 6.70vh 12.73vh;
}
.promocoes {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 100px;
}
.promocao {
    border: 0.13vh;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
}
.promocao:hover {
    opacity: 0.9;
}
#promocao-imagem {
    max-width: 33.51vh;
    max-height: 33.51vh;
    width: auto;
    height: auto;
    border-radius: 15px;
}
.promocao-info {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.01vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5.34vh 5.34vh;
    border-radius: 1.34vh 1.34vh 1.34vh;
}
#promocao-titulo {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.01vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5.34vh 5.34vh;
    border-radius: 1.34vh 1.34vh 1.34vh black;
}
#promocao-titulo:hover {
    color: red;
}
#promocao-preco {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.01vh;
    font-weight: 700;
    color: rgb(50, 196, 55);
    text-align: center;
}
.parceiros-img {
    background-image: url("/imagens/Parceiros/backgroud_parceiros.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.parceiros-cabecalho {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 5.69vh;
    font-weight: bold;
    color: white;
    padding: 6.70vh 12.73vh;
}
.parceiros {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 100px;
}
.parceiro {
    border: 0.13vh;
    cursor: pointer;
    background-color: white;
    border-radius: 6px;
}
.parceiro:hover {
    opacity: 0.9;
}
#parceiro-imagem {
    max-width: 33.51vh;
    max-height: 33.51vh;
    width: auto;
    height: auto;
    border-radius: 15px;
}
#parceiro-titulo {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 2.01vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5.34vh 5.34vh;
    border-radius: 1.34vh 1.34vh 1.34vh black;
}
#parceiro-titulo:hover {
    color: red;
}
.endereco {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 70px;
}
.endereco-img {
    background-image: url("/imagens/backgroud_localizacao.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.endereco-mapa {
    width: 1200px;
    width: 100%;   
    height: 500px;
    border: 0;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}
.endereco-cabecalho {
    font-family: 'Noto Sans', 'Sans Serif';
    font-size: 5.69vh;
    font-weight: bold;
    color: white;
    padding: 6.70vh 12.73vh;
}
.rodape {
    background-color: #5a6170;
    padding: 9.38vh 0;
}
.container {
    margin-left: 6.70vh;
    margin-right: 6.70vh;
    justify-content: space-around;
}
.rodape-linha {
    display: flex;
    flex-wrap: wrap;
}
.rodape-opcoes {
    width: 25%;
    padding: 0 2.01vh;
}
.rodape-opcoes h4 {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 600;
    font-size: 2.41vh;
    color: white;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 2.14vh;
    padding-bottom: 2.14vh;
    border-bottom: 0.093vh solid rgb(255, 0, 0);
}
.rodape-opcoes ul li a {
    font-family: 'Noto Sans', 'Sans Serif';
    font-weight: 400;
    font-size: 2.14vh;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}
.rodape-opcoes ul li a:hover {
    color: rgb(255, 0, 0);
}
.rodape-lista {
    list-style: none;
}